* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: Black;
  background: url("bg.jpg") no-repeat left top;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 65px;
}

.navbar {
  border-radius: 0;
}

.btn {
  background-color: #0072bc;
  color: White;
}