// 
// Sections
// 

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
    min-height: 100vh;
    overflow-x: hidden;

    .resume-section-content {
        width: 100%;
    }

    li {
      &:last-child {
        margin-bottom: 42px;
      }
    }

    .warning-italics {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
}

@include media-breakpoint-up(lg) {
    section.resume-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

#skills-bullets {
  li {
    margin-bottom: 1rem;
  }
}

#skills-grid {
  text-align: center;
  margin-bottom: 42px;
  font-size: 1.25rem;
}

#background {
  background-image: url("../../public/img/bg.jpg");
  background-size: cover;
  background-position: center;
}

.logo {
  height: 60px;
}

#nameplate {
  background-color: lighten($secondary, 8%);
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  filter: drop-shadow(0px 0px 20px black);
}

#experience-bullets {
  li {
    margin-bottom: 2rem;
  }
}

.card {
  background-color: lighten($secondary, 8%);
  border-color: $gray-900;
  border-width: 4px;
  border-radius: 0;
  text-align: center;

  .card-img-top {
    border-radius: 0;
    height: 75%;
    object-fit: cover;
  }

  h4 {
    margin-bottom: 0px;
  }
}

.card:hover {
  border-color: $primary;
}

@include media-breakpoint-up(lg) {
  .modal-dialog {
    max-width: 60vw;
  }
}

.modal-content {
  background-color: lighten($secondary, 8%);
  border-color: $gray-900;
  border-width: 4px;
  border-radius: 0;
}

.modal-header {
  text-align: center;
  justify-content: center;
  border-bottom: none;

  h3 {
    margin: 0px;
  }
}

.modal-footer {
  justify-content: center;
  border-top: none;

  .award-description {
    text-align: center;

    strong {
      color: $white;
    }
  }
}

.modal-body {
  padding: 0px;
  img {
    width: 100%;
  }
}